.projects {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.title {
	font-size: 1.5rem;
	font-weight: 500;
}

.list {
	display: flex;
	flex-direction: column;

	gap: 1rem;

	padding: 0.5rem;
}

.project {
	padding: 0.5em 1em;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem;
}

.link {
	color: #0366d6;
	text-decoration: none;
}

.updatedAt {
	display: block;
	color: #586069;
	margin-top: 0.5rem;
}
