%tplscroll {
	&::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, 0.2);
		border-radius: 0.2em;
	}

	&::-webkit-scrollbar {
		width: 0.4em;
		height: 0.4em;
	}
}

@mixin for-tablet-portrait-down {
	@media (max-width: 1280px) {
		@content;
	}
}

@mixin for-phone-only {
	@media (max-width: 599px) {
		@content;
	}
}

@mixin for-sensor-only {
	@media (hover: none) {
		@content;
	}
}
